/*

!/.gitignore
!/.github/
!/.flake8
!/.pre-commit-config.yaml
!/di/
!/docs/
!/docs_src/
!/tests/
!/Makefile
!/pyproject.toml
!/poetry.lock
!/README.md
!/mkdocs.yml
!/codecov.yml
!/LICENSE.txt
!/benchmarks
!/mutmut_config.py
!/mutmut.sh

**/__pycache__
**/.DS_Store
