/*

!/.gitignore
!/.github/
!/.flake8
!/.pre-commit-config.yaml
!/anydep/
!/comparisons/
!/docs/
!/docs_src/
!/index.html
!/tests/
!/Makefile
!/pyproject.toml
!/poetry.toml
!/README.md

**/__pycache__
**/.DS_Store
