/*

!/.gitignore
!/.github/
!/.flake8
!/.pre-commit-config.yaml
!/di/
!/comparisons/
!/docs/
!/docs_src/
!/index.html
!/tests/
!/Makefile
!/pyproject.toml
!/poetry.lock
!/README.md
!/mkdocs.yml
!/.mdlrc
!/.markdown.style.rb
!/codecov.yml
!/LICENSE.txt

**/__pycache__
**/.DS_Store
